*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #00B1AC;
}

/*This is the block of the login formular, which contains logo (.background img)
 and formular (.formular) and uses flex for better flexibility, centering its
 content in the center*/
.background {
    width: 450px;
    height: 820px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin: 50px auto;
}

/*
Selector, which controls behaviour of the logo above formular
 */
.background img {
    align-self: center;
    flex-grow: 3;
    max-width: 100%;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

/*
Login formular, which represents behaviour of the formular block
 */
.formular {
    flex-grow: 3;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.formular * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

#username, #password {
    justify-content: center;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.formular button {
    padding: 10px;
    font-size: 14px;
    background: white;
    margin: 10px;
    color: #080710;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .login:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.login {
    justify-content: center;
    display: block;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
    background: white;
    color: black;
    font-weight: 600;
    margin-top: 50px;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
}

.forgotPassword {
    margin-top: 15px;
}

hr {
    border: revert;
    margin-top: 10px;
}

.register {
    width: 50%;
    padding: 5px 0;
    font-size: 14px;
    margin-top: 15px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.dark-mode{
    background: #121212;
    color: white;
}


/*
 Fragment of the code, which arranges responsiveness of the
 Login site, which is under 500px takes following conditions
 */
@media screen and (max-width: 500px) {
    .background {
        width: 325px;
        height: 750px;
    }

    .formular * {
        letter-spacing: 0.3px;
        font-size: 4vw;
    }

    .formular h3 {
        font-size: 6vw;
    }
}