*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #00B1AC;
}

/*This is the block of the login formular, which contains logo (.background img)
 and formular (.formular) and uses flex for better flexibility, centering its
 content in the center*/
.background {
    width: 450px;
    height: 820px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin: 50px auto;
}

/*
Selector, which controls behaviour of the logo above formular
 */
.background img {
    align-self: center;
    flex-grow: 3;
    max-width: 100%;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

/*
Login formular, which represents behaviour of the formular block
 */
.formular {
    flex-grow: 3;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.formular * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.formular button {
    color: #080710;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.login {
    margin-top: 50px;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
}

.forgotPassword {
    margin-top: 15px;
}

hr {
    border: revert;
    margin-top: 10px;
}

.register {
    width: 50%;
    padding: 5px 0;
    font-size: 14px;
    margin-top: 15px;
}

/*
 Fragment of the code, which arranges responsiveness of the
 Login site, which is under 500px takes following conditions
 */
@media screen and (max-width: 500px) {
    .background {
        width: 325px;
        height: 750px;
    }

    .formular * {
        letter-spacing: 0.3px;
        font-size: 4vw;
    }

    .formular h3 {
        font-size: 6vw;
    }
}